body {
    background: rgb(125, 198, 205);
    color: rgb(211, 122, 122);
    padding: 10px;
    font-family: arial;
}
nav {
    background: rgb(92, 92, 92);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(8, 109, 134);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #812727;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(143, 94, 94) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
